@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Open+Sans:wght@300&display=swap");

.navbar-brand a img {
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}
/* #nav-item a:hover {
  text-decoration-line: underline; */
/* } */
.nav-link {
  font-size: 1.5rem;
}
.nav-item a {
  text-align: center;
}
#user-icon {
  color: black;
}
